@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
   overflow-x: hidden;
}

.codeblocks1 {
   background: linear-gradient(
      123.77deg,
      #8a2be2 -6.46%,
      orange 59.04%,
      #f8f8ff 124.53%
   );
   /* z-index: ; */

   /* border-radius: 100%; */
   left: 10;
   width: 100px;
   height: 257.05px;
   filter: blur(34px);
   border-radius: 100%;
   left: calc(72% - 263.005px);
   top: calc(130%);
   transform: matrix(1, 0, -0.03, 1, 0, 0);
   opacity: 0.2;
   width: 372.95px;
}

.codeblocks2 {
   background: linear-gradient(
      118.19deg,
      #1fa2ff -3.62%,
      #12d8fa 50.44%,
      #a6ffcb 104.51%
   );

   border-radius: 100%;
   left: 10;
   width: 100px;
   height: 257.05px;
   width: 372.95px;
   filter: blur(34px);
   border-radius: 100%;
   left: calc(28% - 263.005px);
   top: calc(185%);
   opacity: 0.2;
   transform: matrix(1, 0, -0.03, 1, 0, 0);
}
